<h1 class="intro2">All Contacts</h1>

  <ul class="allcontacts">
    <% Contact.all.each do |contact| %>
      <a href="/contacts/<%= contact.id %>"></a>
        <li><%= "Name:   #{contact.first_name}  #{contact.last_name}" %> <%= "Email:   #{contact.email} Notes:   #{contact.note}"%></li>
  <% end %>
  </ul>


  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/contacts/new">Add a new contact</a></li>
    <!-- please complete me with links to other actions -->
  </ul>
