<h1>All Contacts</h1>

  <ul>
  <% Contact.all.each do |contact| %>
    <li><%= "Name:   #{contact.first_name}  #{contact.last_name} Email:   #{contact.email} Notes:   #{contact.note}"%></li>
  <% end %>
  </ul>
