

<h1 class="intro">Welcome to <%= @crm_app_name %>!</h1>
<h2> <%#= @date %></h2>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>

  <!-- please complete me with links to other actions -->
</ul>
