<!DOCTYPE html>
<html>
        <head>
            <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="/style.css">
            <title>Hira's CRM</title>
        </head>
        <body>
          <!-- Header -->
            <header>
              <nav>

              </nav>
            </header>


                <%= yield %>

            <footer>


            </footer>

        </body>
</html>
