


<h1 class="intro2">Create new Contact</h1>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>
</li>

</ul>

<section class="form">

<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>

</section>
